@tailwind base;
@tailwind components;
@tailwind utilities;


.typing-oneline {
  width: 18ch;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid white;

  animation:
    typing 6s steps(18) infinite,
    blink 0.8s step-end infinite;
}

@keyframes typing {
  0% {
    width: 0;
  }
  60% {
    width: 18ch;   
  }
  80% {
    width: 18ch;  
  }
  100% {
    width: 0;   
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
